In [49]:
import pandas as pd
import datetime

In [5]:
df_ufo = pd.read_csv('scrubbed.csv')
df_ufo

/var/folders/_z/y17b_m151jb68st8bhhh9g_w0000gn/T/ipykernel_25984/3742658534.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ufo = pd.read_csv('scrubbed.csv')

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.165833,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778

In [8]:
df_usa=df_ufo[df_ufo["country"]=="us"]
df_usa

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.165833,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778

In [23]:
df_scrubbed_usa=df_usa.drop("comments",axis=1)
df_scrubbed_usa=df_scrubbed_usa.drop("duration (hours/min)",axis=1)
df_scrubbed_usa

,datetime,city,state,country,shape,duration (seconds),date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,10/2/1999,41.1175000,-73.408333
...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600.0,9/30/2013,36.165833,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200.0,9/30/2013,43.613611,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200.0,9/30/2013,38.297222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5.0,9/30/2013,38.901111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,9/30/2013,35.652778,-97.477778

In [59]:
df_scrubbed_usa.dtypes

datetime                      object
city                          object
state                         object
country                       object
shape                         object
duration (seconds)            object
date posted           datetime64[ns]
latitude                     float64
longitude                    float64
dtype: object

In [72]:
df_scrubbed_usa.loc[df_scrubbed_usa["duration (seconds)"]=="8`"]["duration (seconds)"]

35692    8`
Name: duration (seconds), dtype: object

In [65]:
pd.set_option("display.max_rows",1000)
df_scrubbed_usa["duration (seconds)"].value_counts()

300           5819
120           4773
600           4204
60            3865
180           3408
900           2709
30            2403
10            2273
5             1959
1200          1958
1800          1802
3600          1436
2             1433
240           1416
15            1412
300.0         1286
20            1256
3             1095
120.0         1044
600.0          900
60.0           851
180.0          750
7200           741
45             700
2700           652
4              627
900.0          609
420            587
30.0           563
1200.0         489
90             468
1800.0         461
1              455
10.0           447
360            438
5.0            422
480            393
10800          339
3600.0         337
15.0           325
6              317
1500           303
240.0          301
20.0           297
2.0            294
7              290
8              275
40             255
2400           250
3.0            212
25             206
5400           184
2700.0         184
7200.0         183
720            175
14400          153
45.0           145
12             130
4.0            126
420.0          126
90.0           108
2100           106
1.0            102
480.0           92
360.0           85
6.0             82
18000           77
7.0             76
10800.0         74
35              71
8.0             70
50              67
1500.0          63
40.0            60
21600           58
540             58
37800           56
2400.0          55
5400.0          54
3000            52
1.5             51
25.0            50
150             46
9000            42
9               38
780             37
2100.0          37
0.5             34
4500            33
1080            32
14400.0         32
720.0           30
660             30
12.0            28
1020            28
86400           24
18000.0         24
6300            24
70              22
960             22
35.0            22
259200          21
105             20
75              20
172800          19
1320            18
2.5             17
28800           17
3300            17
1.5             16
50.0            16
21600.0         16
37800.0         16
1380            16
1140            15
210             15
13              14
1260            14
14              14
4200            14
80              14
9000.0          13
109800          13
73800           12
840             12
540.0           12
11              12
55              12
17              11
60.3            11
4800            11
0.5             11
18              10
16              10
3000.0          10
1080.0          10
2040            10
16200           10
1680            10
780.0           10
1440             9
12600            9
1020.0           9
1380.0           8
32400            8
1350             8
25200            8
604800           8
345600           7
9.0              7
150.0            7
100              7
23               7
172800.0         7
1980             7
3900             7
1620             7
1260.0           7
1920             7
22               6
1560             6
2631600          6
12600.0          6
432000           6
1.2              6
36               6
135              6
65               6
330              6
1209600          6
105.0            6
6000             6
25200.0          6
73800.0          5
43200            5
270              5
3.5              5
2880             5
960.0            5
660.0            5
1305             5
2520             5
1320.0           5
36000            5
78               4
3360             4
24               4
85               4
2820             4
2220             4
4500.0           4
0.1              4
6312000          4
1140.0           4
27               4
2280             4
8100             4
6300.0           4
2160             4
1410             4
28800.0          4
70.0             4
11.0             4
3.5              4
840.0            3
1.3              3
1814400          3
4800.0           3
0.2              3
0.05             3
38               3
2580             3
315              3
0.01             3
1290.0           3
1740             3
3060             3
43               3
19               3
1215             3
3900.0           3
17.0             3
1325             3
4200.0           3
450              3
1425             3
86400.0          3
0.3              3
210.0            3
26               3
630              3
34               3
7500             3
5.5              3
61               3
9900             3
1340             2
87               2
1335             2
95               2
39               2
50400            2
87.0             2
115              2
120.3            2
3120             2
6660             2
11700            2
1170             2
28               2
1395             2
60.3             2
2760             2
2.5              2
14.0             2
1680.0           2
259200.0         2
72.0             2
80.0             2
8100.0           2
28.0             2
43200.0          2
450.0            2
6000.0           2
604800.0         2
19800.0          2
75.0             2
1.2              2
38.0             2
1440.0           2
18.0             2
26.0             2
345600.0         2
33               2
1203             2
1155             2
7800             2
0.08             2
37               2
21               2
1845             2
2419200          2
2340             2
13500            2
31               2
4380             2
2640             2
625              2
350              2
29               2
140              2
145              2
1270             2
258              2
165              2
110              2
751              2
4680             2
1860             2
1000             2
0.4              2
138              2
2102400          2
130              2
54000            2
85.0             1
570              1
606              1
9468000          1
44               1
16200.0          1
1046             1
135.0            1
59               1
7080             1
3.8              1
1289.0           1
5760             1
2280.0           1
52623200.0       1
73.0             1
1263             1
1325.0           1
1560.0           1
435.0            1
1060             1
432000.0         1
633.0            1
3420             1
1084             1
438              1
273.0            1
1300             1
15300            1
0.6              1
1395.0           1
52               1
53               1
620              1
219300           1
1410.0           1
345              1
380              1
965              1
0.57             1
1.6              1
2940             1
424              1
4140             1
1935             1
165.0            1
60.15            1
1273             1
152.0            1
1920.0           1
275              1
361800           1
750.0            1
0.02             1
2580.0           1
188              1
777600.0         1
209              1
15660            1
95.0             1
1224             1
4140.0           1
1342.0           1
1184             1
33.0             1
1183.0           1
5280.0           1
615.0            1
23400.0          1
48.0             1
1351             1
1341.0           1
173.0            1
3300.0           1
393.0            1
309.0            1
216.0            1
0.45             1
11700.0          1
400.0            1
2340.0           1
585.0            1
0.7              1
24.0             1
255.0            1
3045.0           1
1980.0           1
3602.0           1
7245.0           1
54000.0          1
4440.0           1
3634.0           1
1830.0           1
1076.0           1
34.0             1
1185.0           1
47.0             1
1102.0           1
6900.0           1
355.0            1
492.0            1
988.0            1
67.0             1
74.0             1
5100.0           1
23.0             1
66276000.0       1
15300.0          1
2040.0           1
0.75             1
384.0            1
22.0             1
382.0            1
270.0            1
841.0            1
109800.0         1
1050.0           1
10526400.0       1
114              1
930.0            1
1170.0           1
705.0            1
191              1
1194             1
0.01             1
100.0            1
101.0            1
72000.0          1
140.0            1
3654000.0        1
13.0             1
597.0            1
1400.0           1
1184.0           1
195.0            1
120.1            1
9900.0           1
89.0             1
310.0            1
1396             1
55.0             1
147              1
205.0            1
7380.0           1
640.0            1
605.0            1
2187             1
335              1
721              1
492              1
60.6             1
3180             1
74               1
8580             1
1227             1
1391             1
425              1
695              1
152              1
688              1
669              1
60.1             1
6.5              1
170              1
1398             1
3.4              1
2`               1
4.5              1
265              1
6900             1
108              1
3630             1
1269             1
1266             1
1401             1
121              1
390              1
0.45             1
60.2             1
10620            1
698              1
68               1
4560             1
4838400          1
64               1
250              1
2496             1
1408             1
725              1
603              1
3480             1
8280             1
72               1
4260             1
994              1
212              1
555              1
5100             1
60600            1
7894800          1
1265             1
10526400         1
345.5            1
299              1
300.13           1
108000           1
1185             1
1049             1
42000            1
42               1
550              1
771              1
0.33             1
605              1
82               1
5520             1
1290             1
658              1
3700             1
1420             1
1281             1
199              1
8`               1
60.4             1
4860             1
56               1
60.14            1
6600             1
1050             1
1081             1
2530             1
3720             1
103              1
1090             1
180.39           1
262              1
810              1
1248             1
3240             1
200              1
1705             1
1133             1
3540             1
8400             1
1219             1
1293             1
1.75             1
52623200         1
58               1
1045             1
727              1
800              1
6120000          1
64800            1
599              1
56000            1
1180             1
155              1
30300            1
1085             1
1810             1
610              1
145800           1
1010             1
6480             1
1015             1
1233             1
50.5             1
835              1
978              1
1125             1
1360             1
322              1
8700             1
1438             1
125              1
399              1
479              1
278              1
57600            1
46800            1
1365             1
639              1
1236             1
99               1
10500            1
7440             1
1309             1
60.5             1
1250             1
705              1
195              1
1244             1
1345             1
18300            1
310              1
1310             1
1245             1
259              1
1110             1
253800           1
5280             1
1330             1
640              1
235              1
496              1
7230             1
1217             1
96               1
276              1
39600            1
282              1
1275             1
5263200          1
181.0            1
Name: duration (seconds), dtype: int64

In [73]:
df_scrubbed_usa.at[27822,"duration (seconds)"]=2

In [74]:
df_scrubbed_usa.at[35692,"duration (seconds)"]=8

In [75]:
df_scrubbed_usa["latitude"]=df_scrubbed_usa["latitude"].astype("float64")
df_scrubbed_usa["duration (seconds)"]=df_scrubbed_usa["duration (seconds)"].astype("float64")
df_scrubbed_usa["date posted"]=df_scrubbed_usa["date posted"].astype("datetime64")

/var/folders/_z/y17b_m151jb68st8bhhh9g_w0000gn/T/ipykernel_25984/831180375.py:3: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  df_scrubbed_usa["date posted"]=df_scrubbed_usa["date posted"].astype("datetime64")

In [76]:
df_scrubbed_usa.dtypes

datetime                      object
city                          object
state                         object
country                       object
shape                         object
duration (seconds)           float64
date posted           datetime64[ns]
latitude                     float64
longitude                    float64
dtype: object